@import 'variables.scss';
@import 'breakpoints.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: $background-color;

    @include devices (ultra) {
        font-size: 30px;
    }
    @include devices (laptopL) {
        font-size: 16px;
    }
    @include devices (laptop) {
        font-size: 13px;
    }
    @include devices (tablet) {
        font-size: 14px;
    }
    @include devices (galaxyZFold) {
        font-size: 12px;
    }
}