* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
}

.header {
  width: 100%;
  height: 22em;
  background-color: rgb(250, 250, 250);
  position: relative;
  overflow: hidden;
}
.header .headerElements {
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 70%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .headerElements .headerText h1 {
  font-size: 1.8em;
  margin: 0.5em 0;
}
.header .headerElements .headerText p {
  font-size: 0.7em;
}
.header .headerElements .headerLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.header .headerElements .headerLinks button {
  width: 12em;
  height: 2.5em;
  background-color: #FFFFFF;
  color: #707070;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header::before {
  content: "";
  background-color: #707070;
  display: block;
  height: 25em;
  width: 100%;
  background-size: cover;
  transform: skewY(5deg) translateY(-28%);
}

.main {
  width: 70%;
  margin: 0 auto;
}
.main .newsLetter {
  display: flex;
  justify-content: space-between;
  color: #707070;
}
.main .newsLetter .newsLetterText {
  width: 55%;
}
.main .newsLetter .newsLetterText span {
  font-size: 1.2em;
}
.main .newsLetter .newsLetterText p {
  font-size: 0.7em;
  line-height: 1.6em;
  margin-top: 1.7em;
}
.main .newsLetter #newsLetterForm {
  width: 40%;
  display: block;
}
.main .newsLetter #newsLetterForm label {
  display: block;
  color: #707070;
  font-size: 0.7em;
  position: relative;
}
.main .newsLetter #newsLetterForm label:nth-child(2) {
  margin: 1.5em 0;
}
.main .newsLetter #newsLetterForm label input {
  margin-top: 0.4em;
  width: 100%;
  padding: 0.2em 0;
  outline: none;
  color: #707070;
  text-align: center;
}
.main .newsLetter #newsLetterForm label input:last-of-type {
  -moz-appearance: textfield;
}
.main .newsLetter #newsLetterForm label input.inputError {
  border: 2px solid red;
}
.main .newsLetter #newsLetterForm label input::-webkit-outer-spin-button,
.main .newsLetter #newsLetterForm label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main .newsLetter #newsLetterForm label span {
  position: absolute;
  top: 2.2em;
  right: -7em;
  color: red;
}
.main .newsLetter #newsLetterForm .genre {
  display: flex;
  align-items: center;
}
.main .newsLetter #newsLetterForm .genre label {
  display: flex;
  margin-left: 0.3em;
}
.main .newsLetter #newsLetterForm .genre label.inputError {
  color: red;
}
.main .newsLetter #newsLetterForm .genre input:last-of-type {
  margin-left: 2em;
}
.main .newsLetter #newsLetterForm button {
  border: 1px solid #707070;
  width: 100%;
  background-color: #FFFFFF;
  color: #707070;
  padding: 0.5em 0;
  border-radius: 4px;
  cursor: pointer;
}
.main .newsLetter .newsLetterMessage {
  width: 40%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .newsLetter .newsLetterMessage span {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.main .newsLetter .newsLetterMessage p {
  font-size: 0.7em;
}
.main .newsLetter .newsLetterMessage p:last-of-type {
  margin-top: 0.3em;
}
.main .newsLetter .newsLetterMessage .icons {
  margin: 2em 0;
}
.main .newsLetter .newsLetterMessage .icons .icon {
  font-size: 2em;
  cursor: pointer;
}
.main .newsLetter .newsLetterMessage .icons .facebook {
  margin: 0 1em;
}
.main .division {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
  color: #707070;
}
.main .division h4 {
  font-size: 1em;
}
.main .division div {
  width: 40%;
  border: 0.5px solid #707070;
}
.main .offers {
  margin: 3em 0;
  color: #707070;
}
.main .offers .offerList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 3em;
}
.main .offers .offerList .offer {
  width: 21%;
}
.main .offers .offerList .offer .thumbnail {
  width: 100%;
  height: 10em;
  background-size: cover;
  background-position: center;
}
.main .offers .offerList .offer .name {
  display: block;
  margin: 1em 0 0.6em 0;
  font-size: 0.9em;
}
.main .offers .offerList .offer .description {
  font-size: 0.7em;
  line-height: 1.6em;
  margin: 1em 0;
}
.main .offers .offerList .offer .oldPrice {
  font-size: 0.7em;
  text-decoration: line-through;
}
.main .offers .offerList .offer .newPrice {
  margin: 0.2em 0 -0.1em 0;
}
.main .offers .offerList .offer .installments {
  font-size: 0.7em;
  font-weight: bold;
}
.main .offers .offerList .offer button {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin: 1em 0;
  background-color: #FFFFFF;
  color: #707070;
  border: 1px solid #707070;
  cursor: pointer;
  border-radius: 4px;
}
.main .offers .errorMessage {
  text-align: center;
  margin: 17em 0;
  display: none;
}
.main .offers .errorMessage p {
  margin: 2em 0;
  font-size: 0.9em;
}
.main .offers .errorMessage .refreshBtn {
  display: block;
  margin: 0 auto;
  border: 1px solid #707070;
  color: #707070;
  background-color: #FFFFFF;
  padding: 0.6em 0;
  width: 12em;
  border-radius: 4px;
  cursor: pointer;
}
.main .moreOffers {
  display: block;
  margin: 0 auto;
  border: 1px solid #707070;
  color: #707070;
  background-color: #FFFFFF;
  padding: 0.6em 0;
  width: 20em;
  border-radius: 4px;
  cursor: pointer;
}
.main .shareContent {
  color: #707070;
  text-align: center;
  margin: 4em 0;
}
.main .shareContent p {
  font-size: 0.9em;
}
.main .shareContent p:first-child {
  margin: 4em 0;
}
.main .shareContent p:nth-child(2) {
  margin: 1em 0;
}
.main .shareContent form .friend {
  text-align: start;
  margin: 0 0 4em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}
.main .shareContent form .friend div {
  position: relative;
}
.main .shareContent form .friend #name.inputError {
  border: 2px solid red;
}
.main .shareContent form .friend #mail.inputError {
  border: 2px solid red;
}
.main .shareContent form .friend span {
  position: absolute;
  top: 4.5em;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 0.7em;
}
.main .shareContent form label {
  font-size: 0.7em;
  display: block;
  margin-bottom: 0.4em;
}
.main .shareContent form input {
  outline: none;
  padding: 0.2em 0;
  color: #707070;
  width: 25em;
  text-align: center;
}
.main .shareContent form .shareWithFriend {
  border: 1px solid #707070;
  width: 10em;
  background-color: #FFFFFF;
  color: #707070;
  padding: 0.5em 0;
  width: 20em;
  border-radius: 4px;
  cursor: pointer;
}
.main .shareContent .shareContentFeedback {
  display: none;
}

.footer {
  color: #FFFFFF;
  background-color: rgb(250, 250, 250);
  height: 20em;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.footer .footerElements {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer .footerElements span {
  display: block;
  font-size: 0.7em;
}
.footer .footerElements span:nth-child(2) {
  margin: 1em 0;
}
.footer::before {
  content: "";
  background-color: #707070;
  display: block;
  height: 22em;
  width: 100%;
  transform: skewY(-5deg) translateY(18%);
}/*# sourceMappingURL=main.css.map */