* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
  width: 100%;
}
@media (max-width: 2560px) {
  body {
    font-size: 30px;
  }
}
@media (max-width: 1440px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 13px;
  }
}
@media (max-width: 793px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  body {
    font-size: 12px;
  }
}

.header {
  width: 100%;
  height: 22em;
  background-color: rgb(250, 250, 250);
  position: relative;
  overflow: hidden;
}
.header .headerElements {
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 70%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 820px) {
  .header .headerElements {
    width: 80%;
  }
}
@media (max-width: 793px) {
  .header .headerElements {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .header .headerElements {
    top: 46%;
    width: 90%;
  }
}
.header .headerElements .headerText h1 {
  font-size: 1.8em;
  margin: 0.5em 0;
}
.header .headerElements .headerText p {
  font-size: 0.7em;
}
.header .headerElements .headerLinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 3em;
  gap: 5em;
}
@media (max-width: 1024px) {
  .header .headerElements .headerLinks {
    gap: 3em;
  }
}
@media (max-width: 793px) {
  .header .headerElements .headerLinks {
    gap: 2.6em;
  }
}
@media (max-width: 425px) {
  .header .headerElements .headerLinks {
    gap: 2em;
  }
}
@media (max-width: 320px) {
  .header .headerElements .headerLinks {
    gap: 1em;
  }
}
.header .headerElements .headerLinks button {
  width: 12em;
  height: 2.8em;
  background-color: #FFFFFF;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 0.84em;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header .headerElements .headerLinks button {
    width: 11em;
    height: 2.6em;
  }
}
@media (max-width: 425px) {
  .header .headerElements .headerLinks button {
    width: 13em;
    height: 3em;
  }
}
@media (max-width: 320px) {
  .header .headerElements .headerLinks button {
    width: 11em;
  }
}
.header::before {
  content: "";
  background-color: #707070;
  display: block;
  height: 25em;
  width: 100%;
  background-size: cover;
  transform: skewY(5deg) translateY(-28%);
}

.main {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 2560px) {
  .main {
    width: 75%;
  }
}
@media (max-width: 1440px) {
  .main {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .main {
    width: 75%;
  }
}
@media (max-width: 793px) {
  .main {
    width: 90%;
  }
}
.main .newsLetter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #707070;
}
@media (max-width: 425px) {
  .main .newsLetter {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
}
.main .newsLetter .newsLetterText {
  width: 55%;
}
@media (max-width: 425px) {
  .main .newsLetter .newsLetterText {
    width: 100%;
  }
}
.main .newsLetter .newsLetterText span {
  font-size: 1.2em;
}
.main .newsLetter .newsLetterText p {
  font-size: 0.7em;
  line-height: 1.6em;
  margin-top: 1.7em;
}
.main .newsLetter #newsLetterForm {
  width: 40%;
  display: block;
}
@media (max-width: 425px) {
  .main .newsLetter #newsLetterForm {
    width: 100%;
  }
}
.main .newsLetter #newsLetterForm label {
  display: block;
  color: #707070;
  font-size: 0.7em;
  position: relative;
}
.main .newsLetter #newsLetterForm label:nth-child(2) {
  margin: 1.5em 0;
}
.main .newsLetter #newsLetterForm label input {
  margin-top: 0.4em;
  width: 100%;
  padding: 0.25em 0;
  outline: none;
  color: #707070;
  text-align: center;
  font-size: 1.2em;
}
.main .newsLetter #newsLetterForm label input:last-of-type {
  -moz-appearance: textfield;
}
.main .newsLetter #newsLetterForm label input.inputError {
  border: 2px solid red;
}
.main .newsLetter #newsLetterForm label input::-webkit-outer-spin-button,
.main .newsLetter #newsLetterForm label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main .newsLetter #newsLetterForm label span {
  position: absolute;
  top: 2.2em;
  right: -7em;
  color: red;
}
@media (max-width: 793px) {
  .main .newsLetter #newsLetterForm label span {
    top: 4.5em;
    right: 0em;
  }
}
.main .newsLetter #newsLetterForm .genre {
  display: flex;
  align-items: center;
}
.main .newsLetter #newsLetterForm .genre label {
  display: flex;
  margin-left: 0.3em;
}
.main .newsLetter #newsLetterForm .genre label.inputError {
  color: red;
}
.main .newsLetter #newsLetterForm .genre input:last-of-type {
  margin-left: 2em;
}
.main .newsLetter #newsLetterForm button {
  width: 100%;
  height: 2.5em;
  background-color: #FFFFFF;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 0.84em;
  cursor: pointer;
}
.main .newsLetter .newsLetterMessage {
  width: 40%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  .main .newsLetter .newsLetterMessage {
    width: 90%;
  }
}
.main .newsLetter .newsLetterMessage span {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.main .newsLetter .newsLetterMessage p {
  font-size: 0.7em;
}
.main .newsLetter .newsLetterMessage p:last-of-type {
  margin-top: 0.3em;
}
.main .newsLetter .newsLetterMessage .icons {
  margin: 2em 0;
}
.main .newsLetter .newsLetterMessage .icons .icon {
  font-size: 2em;
  cursor: pointer;
}
.main .newsLetter .newsLetterMessage .icons .facebook {
  margin: 0 1em;
}
.main .division {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
  color: #707070;
}
.main .division h4 {
  font-size: 1em;
}
.main .division div {
  width: 40%;
  border: 0.5px solid #707070;
}
@media (max-width: 820px) {
  .main .division div {
    width: 37%;
  }
}
@media (max-width: 425px) {
  .main .division div {
    width: 28%;
  }
}
@media (max-width: 390px) {
  .main .division div {
    width: 25%;
  }
}
@media (max-width: 320px) {
  .main .division div {
    width: 20%;
  }
}
.main .offers {
  margin: 3em 0;
  color: #707070;
}
.main .offers .offerList {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 3em;
}
@media (max-width: 425px) {
  .main .offers .offerList {
    justify-content: center;
  }
}
.main .offers .offerList .offer {
  width: 12em;
}
@media (max-width: 820px) {
  .main .offers .offerList .offer {
    display: flex;
    width: 22em;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .main .offers .offerList .offer {
    width: 25em;
  }
}
.main .offers .offerList .offer .thumbnail {
  width: 100%;
  height: 10em;
  background-size: cover;
  background-position: center;
}
@media (max-width: 820px) {
  .main .offers .offerList .offer .thumbnail {
    margin-right: 1em;
  }
}
@media (max-width: 793px) {
  .main .offers .offerList .offer .thumbnail {
    margin-right: 1em;
  }
}
@media (max-width: 425px) {
  .main .offers .offerList .offer .thumbnail {
    height: 12em;
  }
}
@media (max-width: 320px) {
  .main .offers .offerList .offer .thumbnail {
    height: 10em;
  }
}
.main .offers .offerList .offer .fullDescription .name {
  display: block;
  margin: 1em 0 0.6em 0;
  font-size: 0.9em;
}
.main .offers .offerList .offer .fullDescription .description {
  font-size: 0.7em;
  line-height: 1.6em;
  margin: 1em 0;
}
.main .offers .offerList .offer .fullDescription .oldPrice {
  font-size: 0.7em;
  text-decoration: line-through;
}
.main .offers .offerList .offer .fullDescription .newPrice {
  margin: 0.2em 0 -0.1em 0;
}
.main .offers .offerList .offer .fullDescription .installments {
  font-size: 0.7em;
  font-weight: bold;
}
.main .offers .offerList .offer .fullDescription button {
  width: 100%;
  height: 2.5em;
  background-color: #FFFFFF;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 0.84em;
  cursor: pointer;
  margin: 1em 0;
}
.main .offers .errorMessage {
  text-align: center;
  margin: 17em 0;
  display: none;
}
.main .offers .errorMessage p {
  margin: 2em 0;
  font-size: 0.9em;
}
.main .offers .errorMessage .refreshBtn {
  display: block;
  margin: 0 auto;
  border: 1px solid #707070;
  color: #707070;
  background-color: #FFFFFF;
  padding: 0.6em 0;
  width: 12em;
  border-radius: 4px;
  cursor: pointer;
}
.main .moreOffers {
  width: 20em;
  height: 2.8em;
  background-color: #FFFFFF;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 0.84em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .main .moreOffers {
    width: 18em;
  }
}
@media (max-width: 320px) {
  .main .moreOffers {
    width: 16em;
  }
}
.main .shareContent {
  color: #707070;
  text-align: center;
  margin: 4em 0;
}
.main .shareContent p {
  font-size: 0.9em;
}
.main .shareContent p:first-child {
  margin: 4em 0;
}
.main .shareContent p:nth-child(2) {
  margin: 1em 0;
}
.main .shareContent form .friend {
  text-align: start;
  margin: 0 0 4em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}
@media (max-width: 425px) {
  .main .shareContent form .friend {
    flex-flow: column wrap;
  }
}
.main .shareContent form .friend div {
  position: relative;
}
.main .shareContent form .friend #name.inputError {
  border: 2px solid red;
}
.main .shareContent form .friend #mail.inputError {
  border: 2px solid red;
}
.main .shareContent form .friend span {
  position: absolute;
  top: 4.5em;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 0.7em;
}
.main .shareContent form label {
  font-size: 0.7em;
  display: block;
  margin-bottom: 0.4em;
}
.main .shareContent form input {
  outline: none;
  padding: 0.25em 0;
  color: #707070;
  width: 25em;
  font-size: 0.9em;
  text-align: center;
}
@media (max-width: 1024px) {
  .main .shareContent form input {
    width: 23em;
  }
}
@media (max-width: 793px) {
  .main .shareContent form input {
    width: 21em;
  }
}
@media (max-width: 425px) {
  .main .shareContent form input {
    width: 12em;
  }
}
@media (max-width: 425px) {
  .main .shareContent form input {
    width: 100%;
  }
}
.main .shareContent form .shareWithFriend {
  width: 20em;
  height: 2.7em;
  background-color: #FFFFFF;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 0.84em;
  cursor: pointer;
}
.main .shareContent .shareContentFeedback {
  display: none;
}
.main .shareContent .shareContentFeedback .secondsToReturn2 {
  font-size: 0.7em;
}

.footer {
  color: #FFFFFF;
  background-color: rgb(250, 250, 250);
  height: 20em;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.footer .footerElements {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer .footerElements span {
  display: block;
  font-size: 0.7em;
}
.footer .footerElements span:nth-child(2) {
  margin: 1em 0;
}
.footer::before {
  content: "";
  background-color: #707070;
  display: block;
  height: 22em;
  width: 100%;
  transform: skewY(-5deg) translateY(18%);
}/*# sourceMappingURL=main.css.map */