@import 'base.scss';
@import 'variables.scss';

.header {
    width: 100%;
    height: 22em;
    background-color: $background-color;
    position: relative;
    overflow: hidden;

    .headerElements {
        //border: 1px solid black;
        text-align: center;
        color: $light-color;
        position: absolute;
        width: 70%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        .headerText {
            h1 {
                font-size: 1.8em;
                margin: 0.5em 0;
            }
    
            p {
                font-size: 0.7em;
            }
        }

        .headerLinks {
            display: flex;
            justify-content: space-between;
            margin-top: 3em;

            button {
                width: 12em;
                height: 2.5em;
                background-color: $light-color;
                color: $dark-color;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    &::before {
        content: '';
        background-color: $dark-color;
        display: block;
        height: 25em;
        width: 100%;
        background-size: cover;
        transform: skewY(5deg) translateY(-28%);
    }
}

.main {
    //border: 1px solid black;
    width: 70%;
    //min-height: 300vh;
    margin: 0 auto;

    .newsLetter {
        display: flex;
        justify-content: space-between;
        color: $dark-color;

        div {
            width: 55%;

            span {
                font-size: 1.2em;
            }

            p {
                font-size: 0.7em;
                line-height: 1.6em;
                margin-top: 1.7em;
            }
        }

        form {
            width: 40%;
            
            label {
                display: block;
                color: $dark-color;
                font-size: 0.7em;
                position: relative;

                &:nth-child(2) {margin: 1.5em 0;}

                input {
                    margin-top: 0.4em;
                    width: 100%;
                    padding: 0.2em 0;
                    outline: none;
                    color: $dark-color;
                    text-align: center;

                    &:last-of-type {-moz-appearance: textfield;}

                    &.inputError {
                        border: 2px solid red;
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                span {
                    position: absolute;
                    top: 2.2em;
                    right: -7em;
                    color: red;
                }
            }

            .genre {
                display: flex;
                align-items: center;

                label {
                    display: flex;
                    margin-left: 0.3em;

                    &.inputError {
                        color: red;
                    }
                }

                input {
                    &:last-of-type {margin-left: 2em;}
                }
            }

            button {
                border: 1px solid $dark-color;
                width: 100%;
                background-color: $light-color;
                color: $dark-color;
                padding: 0.5em 0;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    .division {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4em;
        color: $dark-color;

        h4 {
            font-size: 1em;
        }

        div {
            width: 40%;
            border: 0.5px solid $dark-color;
        }
    }

    .offers {
        margin: 3em 0;
        color: $dark-color;

        .offerList {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            gap: 3em;

            .offer {
                width: 21%;
    
                .thumbnail {
                    //border: 1px solid $dark-color;
                    width: 100%;
                    height: 10em;
                    background-size: cover;
                    background-position: center;                }
    
                .name {
                    display: block;
                    margin: 1em 0 0.6em 0;
                    font-size: 0.9em;
                }
    
                .description {
                    font-size: 0.7em;
                    line-height: 1.6em;
                    margin: 1em 0;
                }
    
                .oldPrice {
                    font-size: 0.7em;
                    text-decoration: line-through;
                }
    
                .newPrice {
                    margin-top: 0.3em;
                }

                .installments {
                    font-size: 0.7em;
                    font-weight: bold;
                }
    
                button {
                    display: block;
                    width: 100%;
                    padding: 0.3em 0;
                    margin: 1em 0;
                    background-color: $light-color;
                    color: $dark-color;
                    border: 1px solid $dark-color;
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
        }
    }

    .moreOffers {
        display: block;
        margin: 0 auto;
        border: 1px solid $dark-color;
        color: $dark-color;
        background-color: $light-color;
        padding: 0.6em 0;
        width: 20em;
        border-radius: 4px;
        cursor: pointer;
    }

    .shareContent {
        color: $dark-color;
        text-align: center;
        margin: 4em 0;

        p {
            font-size: 0.9em;
            margin: 4em 0;
        }

        form {
            .friend {
                text-align: start;
                margin: 0 0 4em 0;
                display: flex;
                justify-content: center;
                gap: 2em;
            }

            label {
                font-size: 0.7em;
                display: block;
                margin-bottom: 0.4em;
            }

            input {
                outline: none;
                padding: 0.2em 0;
                color: $dark-color;
                width: 25em;
                text-align: center;
            }

            .shareWithFriend {
                border: 1px solid $dark-color;
                width: 10em;
                background-color: $light-color;
                color: $dark-color;
                padding: 0.5em 0;
                width: 20em;
                border-radius: 4px;
                cursor: pointer;
            }
        }

    }
}

.footer {
    color: $light-color;
    background-color: $background-color;
    height: 20em;
    width: 100%;
    position: relative;
    overflow: hidden;

    .footerElements {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        span {
            display: block;
            font-size: 0.7em;

            &:nth-child(2) {
                margin: 1em 0;
            }
        }
    }

    &::before {
        content: '';
        background-color: $dark-color;
        display: block;
        height: 22em;
        width: 100%;
        transform: skewY(-5deg) translateY(18%);
    }
}